<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBeGDD7UEYEmjLECMK15Q5f0jjsXQdc1iM</string>
	<key>GCM_SENDER_ID</key>
	<string>513091674039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testDrive</string>
	<key>PROJECT_ID</key>
	<string>gympal-9ecf4</string>
	<key>STORAGE_BUCKET</key>
	<string>gympal-9ecf4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513091674039:ios:58dc6ed3eea8aa6f8f9232</string>
	<key>DATABASE_URL</key>
	<string>https://gympal-9ecf4-default-rtdb.firebaseio.com</string>
</dict>
</plist>